canvas {
  border: 1px solid black;
  float: left;
}

.scrolling2 {
  width:250px; /* ширина нашего блока */
  height:200px; /* высота нашего блока */
  background: #fff; /* цвет фона, белый */
  border: 1px solid #C1C1C1; /* размер и цвет границы блока */
  overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
}

.scrolling3 {
  width:250px; /* ширина нашего блока */
  height:200px; /* высота нашего блока */
  background: #fff; /* цвет фона, белый */
  border: 1px solid #C1C1C1; /* размер и цвет границы блока */
  overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
}
