canvas {
  border: 1px solid black;
  float: left;
}

.scrolling2 {
  width:250px;
  height:200px;
  background: #fff;
  border: 1px solid #C1C1C1;
  overflow: auto;
}

.scrolling3 {
  width:250px;
  height:200px;
  background: #fff;
  border: 1px solid #C1C1C1;
  overflow: auto; 
}
.strongMtrx {
  text-indent: 0%;
}
